@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F8FAFC] text-slate-800 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Hide scrollbars on touch horizontally scrollable elements */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
